<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<script>
			const ROOM_ID = "<%= roomId %>";
		</script>
		<script
			defer
			src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"
		></script>
		<script src="/socket.io/socket.io.js" defer></script>
		<script src="./script.js" defer></script>
		<link rel="stylesheet" href="style.css" />
		<title>Zoom Clone Video Chat</title>
	</head>
	<body onload="timer()">
		<div class="box">
		<div class="topbox">
			<p style="margin-left:1%; margin-top:1%;float:left;font-weight: bold;">Video Caller</p>
			<p id="timer" style="margin-right:1%; margin-top:1%;float:right;font-weight: bold;">Active Time: 0 seconds</p>
		</div>
		<div class="two-boxes">
			<div class="box1">
	    <div class="grid">
		<div id="video-grid"></div>
		 </div>
		 <div class="bottombox">
	  
		
<button onclick="copier()" id="button">Link</button>
		
			
<button onclick="playstop()" id="svideo">Hide Video</button>
	
		
<button onclick="muteunmute()" id="mute">Mute</button>

<button onclick="displayscreen()" id="share_screen">share screen</button>
		
			<div id="self">

		</div>  
		</div>
		</div>
		<div class="box2">
		
				<div class="sender">
        <input id="chat-box">
		
		</input>
	  	<button  class="btn">
            <div onclick="message()">send</div> 
		</button>
	
		</div>
		<div id="messages">
	  <center><h3 class="message">Chat Box</h3></center>
		</div>
		</div>
			</div>
		

		
		</div>
	</body>
</html>